body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
}

a {
    color: #000000;
}

.noPadding {
	padding: 0;
}

.fullSizedBlock  {
	height: 100%;
	width: 100%;
}

a:focus, a:hover {
    color: #E11F26;
}

input[type=date]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=search-md]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #E11F26;
    box-shadow: 0 1px 0 0 #E11F26;
}


.navbar-brand img {
    height: 1.2em;
    display: block;
}

#map {
    height: 100%;
    display: block;
}

.leaflet-top, .leaflet-left {
    top: 6em;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.spanBike {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
}

.spanBike img {
    width: 24px;
    height: 18px;
}

.spanBikeIndicator {
    width: 100%;
    text-align: center;
    display: block;
}

.leaflet-popup-content a {
	width: 100%;
	display: block;
	text-align: center;
}

.leaflet-popup-content a , .leaflet-popup-content a:active , .leaflet-popup-content a:hover , .leaflet-popup-content a:focus , .leaflet-popup-content a:visited {
	color: #E11F26;
}

.card i {
    font-style: normal;
    font-size: 70%;
}

#analyse, #infos, #results {
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%; /*calc(100% - 3.9em)*/
    display: block;
    
}

#analyse .container, #infos .container , #results .container{
    margin-top: 6em;
    height: calc(100% - 8em);
	padding: 0;
    padding-top: 2em;
    width: 90%;
    max-width: 100%;
    margin-left: 5%;
    display: block;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-y: auto;
    position: relative;
}

#analyse .container .close, #infos .container .close, #results .container .close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 200%;
}

.imgAnalyse {
    display: block;
    margin: 0 auto;
    height: 5em !important;
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 200%;
    margin-bottom: 1em;
}

.title:not(:first-child) {
    margin-top: 2em;
}

/* LEAFLET */
.leaflet-marker-icon {
    border-radius: 2px !important;
}

.leaflet-popup-content {
    width: 500px !important;
    max-width: 95vw;
}

.stationBikeImg {
    height: 3em;
    width: 3em;
    border-radius: 1.5em;
    margin-right: 1em;
}

.imgInfos {
	width: 20%;
	display: inline-block;
}

.imgInfos:not(:first-child){
	margin-left: 6.66%;
}

.popupContentLeaflet {
	display: block;
	font-size: 1.5em;
}

.popupContentLeaflet img {
	display: inline-block;
	height: 1em;
}

.popupContentLeaflet h3 {
	text-align: center;
	border-bottom: 1px solid #E11F26;
	font-family: 'Poiret One', cursive;
}

.tooltip .tooltip-inner {
	text-align: left !important;
}
.tooltip .tooltip-inner img {
	height: 1em;
	
}

.leaflet-marker-icon {
    transition: 0.3s ease;
}

.leaflet-marker-icon:hover {
	margin-left: -15px !important;
	margin-top: -15px !important;
	width: 30px !important;
	height: 30px !important;
}


g * {
    transition: 0.3s ease;
}

g:hover * {
	fill-opacity: 0.5;
}

@media screen and (max-width: 1250px){
	.leaflet-marker-icon {
		margin-left: -15px !important;
		margin-top: -15px !important;
		width: 30px !important;
		height: 30px !important;
	}
	
	.navbar {
		font-size: 2em;
	}
}

.imgkpi {
	width: 100%;
	display: block;
}

#qlik {
	margin: 0 auto;
	display: block;
	cursor: pointer;
	text-align: center;
}

#qlik img {
	height: 2.5em;
	display: inline-block;
}

.card .imgopt {
	display: none;
}

canvas {
	height: 10em !important;
	display: block;
}

.kpiText {
	font-size: 1rem;
	font-family: Arial;
	
}

.title span {
	display: block;
}

.divKpi50 {
	width: 50%;
	display: inline-block;
}

.spanCat {
	margin-left: 4%;
}
